{% extends 'base.html' %}
{% block content %}
    <h1>Статьи</h1>
    {% for article in articles %}
        <h1>
            <a href="{% url 'article_view' article_id=article.id category_id=article.category.id %}">{{ article.title }}</a>
        </h1>
        <p>{{ article.text_preview }}</p>
        <hr>
    {% endfor %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.text }}</p>
    <p>
        {% for tag in article.tags.all %}
            <a href="{% url 'tag_view' article_id=article.id category_id=article.category.id tag_id=tag.id %}">#{{ tag.name }}</a>
        {% endfor %}
    </p>
{% endblock %}